/* Global styles */
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

section{
    margin-bottom: 50px;
}

h1,h2, h3{
    margin-bottom: 10px;
    color: #333;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/* Header styles */
.header {
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    width: 90%;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.menu-button {
    display: inline-block;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu-button span {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #333;
    margin-bottom: 6px;
}

/* Side Panel */
.side-panel {
    position: fixed;
    top: 0;
    left: -350px;
    width: 300px;
    height: 100vh;
    background-color: #263238;
    color: #fff;
    padding: 20px;
    transition: left 0.3s ease;
}

.side-panel-head{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-panel.open {
    left: 0;
}

.side-panel ul {
    list-style: none;
}
.side-panel ul li {
    margin: 10px 0;
}
.side-panel a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0;
}
.close-button {
    display: block;
    text-align: right;
    margin-bottom: 20px;
}

/* Main styles */
main {
    padding-top: 100px;
}

/* Section 1 styles */
.table-container {
    overflow-x: auto;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table caption {
    font-weight: bold;
    margin-bottom: 10px;
}

table td {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

/* Section 2 styles */
.image-content{
    display: flex;
    justify-content: space-between;
}

.image-container {
    width: 45%;
    margin-bottom: 20px;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

.image-container p {
    margin: 10px 0;
}

/* Section 3 styles */
#paragraphContainer{
    margin-bottom: 20px;
}

#paragraphContainer h3, #paragraphContainer p{
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
